/*

    CSS for Economic Development of Vancouver
    Team Couve Living
    CGT 206 - Skill Building 2
    Winter 18

    COLORS
        #8EC2D2 rgb(128, 187, 204) - light cyan/light cerulean
        #3892A0 rgb(56, 146, 160) - strong cyan/strong arctic blue
        #B0A096 rgb(176, 160, 150) - orangish gray/tangeloish gray.
        #BFC0C1 rgb(191, 192, 193) - cyan-bluish gray/azureish gray
*/

/*------------------------------------------------------------------------------
---------------------------- MAIN CSS ------------------------------------------
------------------------------------------------------------------------------*/
body {
    font-family: sans-serif;
}

#wrapper {
    max-width: 399px;
    width: 100%; 
}

header {
    height: 150px;
    background-color: #3892A0;
    font-size: 2.5em;
    color : #FFF;
    border: 1px solid #000;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    text-shadow: 2px 2px #333;
}

h2 {
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: 200;
    border-bottom: 1px solid #eee;
}

h3 {
    font-family: arial, sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: -5px;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
    max-width: 300px;
}

nav {
    height: 40px;
    background-color: #8EC2D2; 
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    font-family: "Myriad Pro";
}

a {
    text-decoration: none;
}

p {
    font-family: Athelas;
    margin: 20px;
    line-height: 1.2em;
}

.navList {
    font-size: .9em;
    position: relative;
    display: none;
    clear: both;
    z-index: 99;
}

.navLink {
    font-size: 2em;
    padding: 10px 0 10px 0;
    max-width: 399px;
    width: 100%;
    background-color: #8EC2D2;
    color: #FFF;
    border-bottom: 1px solid #000;
    z-index: 99;
}

.navLink a {
    color: #FFF;
    margin-left: 10px;
}

.navLink a:hover {
    color: #DDD;
}

.navLink a:active {
    color: #999;
}

.burger {
    color: #FFF;
    font-size: 2em;
    margin-top: 5px;
    margin-right: 10px; 
    float: right;
}

article {
    clear: both;
    margin-top: 20px;
}

footer {
    clear: both;
    z-index: 1;
    margin-top: 20px;
    border-top: 1px solid #000;
}

footer p {
    margin: 10px 0 0 10px;
}

/*----------------------- DESTINATION DOWNTOWN--------------------------------*/
.downtownImg {
    background-color: #b09f96;
    height: 300px;
    width: 300px;
    margin: 0px auto;
}

.downtownP {
    margin: 20px; 
}

/*--------------------------- WATERFRONT ----------------------------------------*/
#waterfrontPicture {
    display: block;
    width: 300px;
    /*height: auto;*/
    margin: 0 auto;
}

/*--------------------------- BLOCK 10 ----------------------------------------*/
#block10Img {
    width: 300px;
    margin: 0 auto;
}

.block10P {
    margin-left: 5%;
    margin-right: 5%;
}


/*-------------------------------------------------------------------------------
-----------------------------SMALL MOBILE CSS------------------------------------
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 400px) and (max-width: 599px) {
    #wrapper {
    max-width: 599px;
    width: 100%; 
    }

    h1 {
        font-size: .9em;
        padding: 35px 10px 10px 10px;
    }
    
    .navLink {
        max-width: 599px;
        width: 100%;
    }
}

/*-------------------------------------------------------------------------------
-----------------------------LARGE MOBILE CSS------------------------------------
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 960px) {
    #wrapper {
    max-width: 960px;
    width: 100%; 
    }
    
    .navLink {
        max-width: 960px;
        width: 100%;
    }

    h1 {
        font-size: 1.1em;
        padding-top: 40px;
    }

    /*--------------------------- WATERFRONT ----------------------------------------*/
    #waterfrontPicture {
        display: block;
        width: 500px;
        /*height: auto;*/
        margin: 0 auto;
    }
    
    /*--------------------------- BLOCK 10 ----------------------------------------*/
    #block10Img {
        width: 300px;
        float: right;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 10px;
    }

    .block10P {
        margin-left: 5%;
    } 
}

/*-----------------------------------------------------------------------
-----------------------------TABLET CSS----------------------------------
-------------------------------------------------------------------------*/
@media only screen and (min-width: 960px) and (max-width: 1280px) {
    #wrapper {
        max-width: 1280px;
        width: 100%; 
    }

    nav {
        height: 45px;
    }

    h1 {
        font-size: 1.2em;
        padding-top: 50px;
    }
    
    .burger {
        display: none;
    }

    nav {
        margin: 0 auto;
    }
    
    .navList {
        display: block;
        text-align: center; 
    }
    
    .navLink {
        font-size: 1.5em;
        display: inline-block;
        border: none;
        width: initial;
        padding: 5px;
        margin-top: 5px;
    }

    /*----------------------- DESTINATION DOWNTOWN--------------------------------*/
    .downtownImg {
        background-color: #b09f96;
        width: 300px;
        height: 300px;
    }

   #downtownImg1 {
        float:left;
        margin: 0 5% 10px 5%;
    }

    #downtownImg2 {
        float:right;
        margin: 0 5% 0 5%;
    }

    .downtownP {
        /*width: 42.5%*/
    }   

    #downtownP1 {
       margin: 0 5% 0 5%; 
    } 

    #downtownP2 {
        margin: 0 5% 0 5%;
    } 

    /*--------------------------- WATERFRONT ----------------------------------------*/
    #waterfrontPicture {
        display: block;
        width: 550px;
        float: right;
        margin: 10px 5% 10px 5%;
    }

    /*--------------------------- BLOCK 10 ----------------------------------------*/
    #block10Img {
        width: 300px;
        float: right;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 10px;
    }

    .block10P {
        margin-left: 5%;
    } 
}

/*------------------------------------------------------------------------
------------------------------DESKTOP CSS---------------------------------
-------------------------------------------------------------------------*/
@media only screen and (min-width: 1280px) {
    #wrapper {
        max-width: 1280px;
        width: 100%; 
        margin: 0 auto;
    }

    h1 {
        padding: 50px 40px 40px 40px;
        font-size: 1.3em;
    }

    nav {
        height: 42px;
    }

    h2 {
        margin-top: 10px;
    }

    .burger {
        display: none;
    }
    
    .navList {
        display: block;
        text-align: center; 
    }
    
    .navLink {
        font-size: 1.5em;
        display: inline-block;
        border: none;
        width: initial;
        padding: 10px;
    }
    /*----------------------- DESTINATION DOWNTOWN--------------------------------*/ 
    .downtownImg {
        background-color: #b09f96;
        width: 300px;
        height: 300px;
    }

   #downtownImg1 {
        float:left;
        margin: 0 5% 10px 5%;
    }

    #downtownImg2 {
        float:right;
        margin: 0 5% 0 5%;
    }

    .downtownP {
        /*width: 42.5%*/
    }   

    #downtownP1 {
       margin: 0 5% 0 5%; 
    } 

    #downtownP2 {
        margin: 0 5% 0 5%;
    } 
    /*------------------------------ WATERFRONT-----------------------------------*/
    #waterfrontPicture {
        display: block;
        width: 550px;
        float: right;
        margin: 10px 5% 10px 5%;
    }
    
    /*--------------------------- BLOCK 10 ----------------------------------------*/
    #block10Img {
        width: 300px;
        float: right;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 10px;
    }

    .block10P {
        margin-left: 5%;
    } 
}